CONFIG_TARGET_ramips=y
CONFIG_TARGET_ramips_mt7621=y
CONFIG_TARGET_ramips_mt7621_DEVICE_gehua_ghl-r-001=y

# Plugins
CONFIG_PACKAGE_luci-app-ssr-plus=y
CONFIG_PACKAGE_luci-app-ssr-plus_INCLUDE_Xray=y
CONFIG_PACKAGE_xray-core=y
CONFIG_PACKAGE_luci-app-mosdns=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-filetransfer=y
CONFIG_PACKAGE_luci-app-wol=y

# IPv6
CONFIG_PACKAGE_dnsmasq_full_dhcpv6=y
CONFIG_PACKAGE_ipv6helper=y

CONFIG_PACKAGE_luci-theme-design=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y

# USB
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb2=y

# 中断均衡与硬件加速
CONFIG_PACKAGE_irqbalance=y
CONFIG_PACKAGE_kmod-mtk-hnat=y

CONFIG_DEVEL=y
CONFIG_CCACHE=y

# 自动裁剪
CONFIG_AUTOREMOVE=y
